// // // // MOBILE MODAL BUTTONS // // // //

.mobile-modal-buttons {
  .button {
    margin-top: size(20);
    width: 100%;
    &.--primary {
      font-size: size(12);
      padding: size(10);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  @media (min-width: 1024px) {
    display: none;
  }
}