// // // // NAV // // // //

.nav {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: size(60);
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  height: calc(100% - 60px);
  align-items: center;
  background-color: var(--c-primary);
  transition: visibility .25s ease, opacity .25s ease;
  z-index: 1000;
  &__item {
    margin-top: size(40);
    margin-left: 0;
    &.--mobile-button {
      margin-top: size(150);
      &:last-child {
        margin-top: size(40);
      }
    }
    &:first-child {
      margin-top: 0;
      margin-left: 0;
    }
  }
  &.--mobile-active {
    visibility: visible;
    opacity: 1;
  }
  @media (min-width: 1024px) {
    visibility: visible;
    opacity: 1;
    display: flex;
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    z-index: initial;
    &__item {
      margin-top: 0;
      margin-left: size(28);
      &.--mobile-button {
        display: none;
      }
    }
  }
}